html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Column layout */
.container {
  column-count: 3;
  width: 100%;
  height: auto;
}

/* Selecting all divs under the main container */
.container > div {
  background-color: rgb(255, 255, 255);
  display: inline-block;
  width: 100%;
  height: auto;
  transition-duration: 1s;
  
}
.container > div:hover {
  background-color: rgb(255, 255, 255);
  display: inline-block;
  width: 100%;
  height: auto;
  column-span: inherit;
  transition-duration: 1s;
  /* position:  */
}
